version: "3.7"

services:
  imgai-backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
      args:
        - MODE_ENV=${IMGAI_MODE_ENV:-dev}
        - BACKEND_HOST=${BACKEND_HOST:-0.0.0.0}
        - BACKEND_PORT=${BACKEND_PORT:-7000}
    environment:
      - MODE_ENV=${IMGAI_MODE_ENV:-prod}
    image: imgai-backend:${IMGAI_APP_VERSION:-latest}
    container_name: imgai-backend
    ports:
      - "7000:7000"
    networks:
      - imgai

  imgai-nginx:
    build:
      context: ./nginx_app
      dockerfile: Dockerfile
    container_name: imgai-nginx
#    volumes:
#      - ./nginx_app/nginx-templates/${NGINX_TEMPLATE:-dev}:/etc/nginx/templates
#      - ./frontend/dist:/html
    ports:
      - ${PREVIEW_PORT:-7042}:${NGINX_PORT:-80}
    environment:
      - NGINX_PORT=${NGINX_PORT:-80}
      - NGINX_TIMEOUT=${NGINX_TIMEOUT:-60}
      - BACKEND_HOST=${BACKEND_HOST:-imgai-backend}
      - BACKEND_PORT=${BACKEND_PORT:-7000}
    extra_hosts:
      - host.docker.internal:host-gateway
    networks:
      - default
      - imgai

networks:
  imgai:
